<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="loginConnectionString" connectionString="server=localhost;User Id=root;password=;database=login" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="smtpServer" value="smtp.easycgi.com" />
    <add key="EnableSsl" value = "false"/>
    <add key="smtpPort" value="25" />
    <add key="smtpUser" value="Skinyanjui@technobrainltd.com" />
    <add key="smtpPass" value="Aug12@2013" />
  </appSettings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>
